body{
	background-image:url(http://www.bigskyline.com/images/Skyline-Philadelphia-night-1-z.jpg);}

body{
	margin:10%;}

h1{
	color:silver;
	font-size:50px;
	font-family:"sans-serif";}

h2{
	color:silver;
	font-size:34px;
	font-family:"sans-serif";}

div.static{}


#fly{color:orange;}

img{
	width: 80%;
	margin-left:15%;
	border:5px;
	border-style:hidden;}




.alert{
	color:red;
	font-size:35px;
	font-family:"Courier";}

div{width:75%;
padding:10px;
border:hidden;
margin:auto;}
